{% extends "layout.html" %}
{% block content %}
    {% if data is not none %}
        <div>Name is {{data.name}}</div>
        <div>Start Date is {{data.stime}}</div>
        <div>End Date is {{data.etime}}</div>
        <hr></hr>
    {% endif %}
    
    <div id="updates">
        <h2 class="my-3">Recent Updates</h2>
        
        {% if posts is not none %}
            {% for post in posts %}
                <article class="media content-section">
                    <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{post.n}}</a>
                        <small class="text-muted">{{post.camName}}</small>
                    </div>
                    <h3><a class="article-title" href="/">{{post.t}}</a></h3>
                    <p class="article-content">Location: x={{post.rx}}  y={{post.ry}}</p>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>
    {% if posts is not none %}
        <form method="POST" action="/increment">
            <button type="submit" name="loadmore" class="btn btn-primary" id="loadmore">Continue</button>
        </form>
    {% endif %}
{% endblock content %}